@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paul Yang<br />
    <a href="https://mcptnc.microsoft.com/certificatemanagerpage.aspx">Microsoft&reg; Certified Professional Developer: A80-0023/0028,D28-9581,F308-834</a>
    Sylvania, NSW 2224<br />
    <abbr title="Mobile">m:</abbr>
    0426 411 388
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:paul.yang@outlook.com.au">paul.yang@outlook.com.au</a><br />
</address>